* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.header-container {
    display: flex;
    flex-direction: column;
    max-width: 1900px;
}


.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
}

.header-list {
    display: flex;
    gap: 20px;
    align-items: center;
    ;
}

.header-list a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

img {
    max-width: 400px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    flex-wrap: wrap;
    padding: 72px 12px;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 450px;
    justify-content: space-between;
    min-width: 300px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;

}

button {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 10px;
    color: #f9faf8;
    max-width: 110px;
}

.info img {
    max-width: 250px;
}

.info-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 36px;
    margin-bottom: 32px;
}

.info-boxes-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

}

.info {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    text-align: center;
    gap: 16px;
}

.info-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 60px 36px;
}

.quote-section .author {
    margin-left: auto;
    font-style: normal;
    font-weight: bold;
}

.action-section {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    width: 1200px;
    background-color: #3882f6;
    padding: 24px 72px;
    border-radius: 12px;
    justify-content: space-between;
    margin: 72px 0px;
}

.action-box button {
    padding: 0px 12px;
    border-color: #e5e7eb;
    background-color: #1f2937;
    min-width: 140px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 32px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 1000px;
}

.one {
    display: flex;
    justify-content: space-between;
    padding: 18px 12px;
}
.two {
    width: 900px;
}
.three {
    display: flex;
    justify-content: center;
    background-color: #1f2937;

}